<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', path='style.css')}}">-->
    <title>登入失敗...</title>
</head>

<body>
    <div class="header">失敗頁面</div>
    <main class="wrap layout">
        <section class="function">
            <div class="title">{{ msg }}</div>
            <div class="next"><a href="http://127.0.0.1:8000/">返回首頁</a></div>
        </section>
    </main>
    <!-- <script src="{{ url_for('static', path='script.js')}}"></script> -->
</body>

</html>