<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css')}}">
    <title>歡迎光臨</title>
</head>
<body>
    <div class="header">歡迎光臨，請輸入信箱密碼</div>
    <main class="wrap layout">
        <section class="function">
            <div class="title">登入系統</div>
            <form class="login" novalidate> <!--novalidate的作用是disable表單的格式自動驗證-->
                <div class="field">
                    <label for="email">信箱</label>
                    <input id="email" name="email" type="email">
                </div>
                <div class="field">
                    <label for="pwd">密碼</label>
                    <input id="pwd" name="password" type="password">
                </div>
                <div class="field checkbox">
                    <label for="agree">同意條款<input id="agree" type="checkbox"></label>
                </div>
                <button class="btn" type="submit">登入</button>
            </form>
        </section>
        <section class="function">
            <div class="title">取得旅館資訊</div>
            <form class="get-hotel">
                <div class="field">
                    <label for="hid">編號</label>
                    <input id="hid" name="id" type="text">
                </div>
                <button class="btn" type="submit">取得</button>
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', path='script.js')}}"></script>
</body>
</html>