.DS_Store
.DS_Store?
sample.py
Assignment - Week 1.pdf
Assignment - Week 2.pdf
Assignment - Week 3.pdf
Assignment - Week 4.pdf
task2_prototype.py
backup
Week4 - 作業demo
publicAPI.py
hotel.py
cache.py
Assignment - Week 5.pdf
Assignment - Week 6.pdf
Assignment - Week 7.pdf
.env
.vscode
__pycache__